.background-hero {
  background-image: url("header.jpg");
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #aed2ff;
  font-weight: 900;
  height: 500px;
  width: auto;
  font-size: x-large;
}
.intro-text {
  color: #aed2ff;
  font-weight: 500;
  font-size: xx-large;
  height: 500px;
  font-family: "Kanit", sans-serif;
  font-family: "Libre Franklin", sans-serif;
}

.dp {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-black);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-black);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}
